<h1>Web developer</h1>
<h2>I create and craft usable website for brands</h2>

<p>
  I specialise in development, both front-end: HTML5, CSS3 and JavaScript
  (including libraries such as jQuery and frameworks such as Backbone.js and AngularJS) and back-end: Ruby on Rails and PHP (in particular the Symfony and Yii framework) and third-party API integration.
</p>

<h3>Some numbers:</h3>
<ul class="some_numbers">
  <li class="item coffee"><strong>Coffe:</strong> 2.5 cups/day</li>
  <li class="item leaf"><strong>Vegetarian food:</strong> 5/7 days</li>
  <li class="item book">
    <strong>Books read:</strong> 8 <br>
    <ul class="some_numbers">
      <li class="items">Latest: <strong>Animal Farm - George Orwell</strong></li>
    </ul>
  </li>
  <li class="item beer"><strong>Beers:</strong> 2 bootle every weekend</li>
</ul>


