<div class="content">
  <section class="bio">
    <figure>
      <img src="images/<%= model.get('profile_photo') %>" alt="profile-picture" class="profile-picture" >
      <figcaption class="personal-data">
        <h1 class="name"><%= model.fullName() %></h1>
        <h2 class="location">
          <i class="icon-location"></i>
          <%= model.get('location') %>
        </h2>
      </figcaption>
    </figure>
    <p class="summary">
      <%= model.get('bio') %>
    </p>
  </section>
  <section class="skills">
    <h1 class="skills-title">My Skills</h1>
    <div class="skill-list" id="skill-list">
    </div>
  </section>
</div>
