/*********************************
 * SIZE
 *********************************/
$content: 1024px;

/*********************************
 * COLORS
 *********************************/

$red: #d45e5e;
$lightred: #e27878;
$black: #282828;
$black1: #404040;

$phrases: #404040;
