<header id="main_nav_bar">
  <div class="content">
    <div class="personal_logo">
      <h1 class="title">WEBFOLIO</h1>
      <h2 class="subtitle">My Personal web & Portfolio</h2>
    </div>
    <nav class="main_navbar">
      <ul class="items">
        <li class="item"><a class="item-link" href="#home">HOME</a></li>
        <li class="item"><a class="item-link" href="#about-me">ABOUT ME</a></li>
        <li class="item"><a class="item-link" href="#works">WORKS</a></li>
        <li class="item"><a class="item-link" href="#resume">RESUME</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="main-content" class="content">
</div>
<footer class="main-footer"></footer>
<footer class="subfooter"></footer>
</body>
